<div class="container">

  <div class="row shopping-cart">
    <app-item *ngFor="let item of shoppingCart" [item]="item" [existInCart]="existInCart(item)"
      (removeFromCart)="removeFromCart($event)" class="col-3" appChangeColor [color]="'red'">
    </app-item>
  </div>

  <button (click)="filter('sports_outdoors')">
    Sports and Outdoors
  </button>
  <button (click)="filter('fashion')">
    Fashion
  </button>


  <mat-tab-group class="tab-group">
    <mat-tab label="One" class="mat-tab">

      <div class="list row">
        <app-item *ngFor="let item of (fashionItem$ | async)" [item]="item" (addToCart)="addToCart($event)"
          (removeFromCart)="removeFromCart($event)" [existInCart]="existInCart(item)" 
          class="col-3 item">
        </app-item>
      </div>

    </mat-tab>
    <mat-tab label="Two" class="tab-group">
      <div class="list row">
        <app-item *ngFor="let item of (sportsItem$ | async)" [item]="item" (addToCart)="addToCart($event)"
          (removeFromCart)="removeFromCart($event)" [existInCart]="existInCart(item)" 
          class="col-3 item">
        </app-item>
      </div>

    </mat-tab>
  </mat-tab-group>



</div>