<div class="container">

  <!-- <div class="row shopping-cart">
    <app-item *ngFor="let item of shoppingCart" [item]="item" [existInCart]="existInCart(item)"
      (removeFromCart)="removeFromCart($event)" class="col-3" appChangeColor [color]="'red'">
    </app-item>
  </div> -->

  <mat-tab-group class="tab-group">
    <mat-tab label="Fashion" class="mat-tab">

      <div class="list row">
        <app-item *ngFor="let item of (fashionItem$ | async)" [item]="item" (addToCart)="addToCart($event)"
          (removeFromCart)="removeFromCart($event)" [existInCart]="existInCart(item)" 
          class="col-3 item">
        </app-item>
      </div>

    </mat-tab>
    <mat-tab label="Sports" class="tab-group">
      <div class="list row">
        <app-item *ngFor="let item of (sportsItem$ | async)" [item]="item" (addToCart)="addToCart($event)"
          (removeFromCart)="removeFromCart($event)" [existInCart]="existInCart(item)" 
          class="col-3 item">
        </app-item>
      </div>

    </mat-tab>
  </mat-tab-group>



</div>