<div class="container">

  <div class="row shopping-cart">
    <app-item *ngFor="let item of shoppingCart" [item]="item" [existInCart]="existInCart(item)"
      (removeFromCart)="removeFromCart($event)" class="col-3" appChangeColor [color]="'red'">
    </app-item>
  </div>

  <button (click)="filter('sports_outdoors')">
    Sports and Outdoors
  </button>
  <button (click)="filter('fashion')">
    Fashion
  </button>
  <div class="list row">

    <app-item *ngFor="let item of items" [item]="item" (addToCart)="addToCart($event)"
      (removeFromCart)="removeFromCart($event)" [existInCart]="existInCart(item)" class="col-3">
    </app-item>

  </div>
</div>